<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Title</title>
</head>
<body>
<header>
    NEW-S Portal
</header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-navbar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="main_page.html">News</a></li>
            <li><a href="profile.html">Contact</a></li>
            <li class = "logout"><a href="#">log out</a></li>
        </ul>
        </div>
    </nav>
<div class = 'present'>
    <div class="logo-container">
        <h1>NEW-S portal</h1>
        <a>
            lorem ipsum
        </a>
    </div>
</div>
</body>
</html>