<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/navbar_style.css">
    <link rel="stylesheet" href="../static/st.css">
    <title>NEWS</title>

</head>
<body>
<header>
    NEW-S Portal
</header>

<div id="navbar">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="main_page.html">News</a></li>
        <li><a href="profile.html">Contact</a></li>
        <li class = "logout"><a href="#">log out</a></li>
    </ul>
</div>
<div id="background" style="color: #f1f1f1"></div>

</body>
</html>