<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/navbar_style.css">
    <link rel="stylesheet" href="../static/style2.css">
    <title>NEWS</title>
</head>
<body>
<header>
    NEW-S Portal
</header>
<div id="navbar">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="main_page.html">News</a></li>
<!--        <li><a href="FAQ.html">FAQ</a></li>-->
<!--        <li class = "profile"><a href="profile.html">Profile</a></li>-->
    </ul>
</div>

<div class="content-wrapper">
    <h1>Последние новости</h1>

<!--    контейнер для новостей-->
    <div id="newsContainer">
    </div>

<!--    индикатор загрузки-->
    <div class="loading-indicator" id="loadingIndicator">
        <div class="spinner-border" role="status"></div>
        <span>Загрузка новостей...</span>
    </div>

<!--    сообщение о конце списка-->
    <div class="end-message" id="endMessage" style="display: none;">
        Вы просмотрели все новости!
    </div>
</div>

<script src="../static/script.js"></script>
</body>
</html>