<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/navbar_style.css">
    <link rel="stylesheet" href="../static/style2.css">
    <title>NEWS</title>

</head>
<body>
<header>
    NEW-S Portal
</header>

<div id="navbar">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="main_page.html">News</a></li>
        <li><a href="profile.html">Contact</a></li>
        <li class = "logout"><a href="#">log out</a></li>
    </ul>
</div>




    <div class="content-wrapper">
        <h1>Заголовок страницы</h1>

        <div class="post">
            <h2>Первый пост</h2>
            <p>Это текст первого поста. Он находится на белой подложке, которая в свою очередь расположена на светло-сером фоне страницы. </p>
        </div>

        <div class="post">
            <h2>Второй пост</h2>
            <p>Здесь может быть больше вашего контента. Мы использовали свойство `margin: 40px auto;` для центрирования белого блока и создания отступа от верхнего края страницы.</p>
        </div>

        <div class="post">
            <h2>Первый пост</h2>
            <p>Это текст первого поста. Он находится на белой подложке, которая в свою очередь расположена на светло-сером фоне страницы. </p>
        </div>

        <div class="post">
            <h2>Первый пост</h2>
            <p>Это текст первого поста. Он находится на белой подложке, которая в свою очередь расположена на светло-сером фоне страницы. </p>
        </div>

        <div class="post">
            <h2>Первый пост</h2>
            <p>Это текст первого поста. Он находится на белой подложке, которая в свою очередь расположена на светло-сером фоне страницы. </p>
        </div>

        <div class="post">
            <h2>Первый пост</h2>
            <p>Это текст первого поста. Он находится на белой подложке, которая в свою очередь расположена на светло-сером фоне страницы. </p>
        </div>

        <div class="post">
            <h2>Первый пост</h2>
            <p>Это текст первого поста. Он находится на белой подложке, которая в свою очередь расположена на светло-сером фоне страницы. </p>
        </div>

        <div class="post">
            <h2>Первый пост</h2>
            <p>Это текст первого поста. Он находится на белой подложке, которая в свою очередь расположена на светло-сером фоне страницы. </p>
        </div>

        <div class="post">
            <h2>Первый пост</h2>
            <p>Это текст первого поста. Он находится на белой подложке, которая в свою очередь расположена на светло-сером фоне страницы. </p>
        </div>

        <div class="post">
            <h2>Первый пост</h2>
            <p>Это текст первого поста. Он находится на белой подложке, которая в свою очередь расположена на светло-сером фоне страницы. </p>
        </div>

        <div class="post">
            <h2>Первый пост</h2>
            <p>Это текст первого поста. Он находится на белой подложке, которая в свою очередь расположена на светло-сером фоне страницы. </p>
        </div>

        <div class="post">
            <h2>Первый пост</h2>
            <p>Это текст первого поста. Он находится на белой подложке, которая в свою очередь расположена на светло-сером фоне страницы. </p>
        </div>

        <div class="post">
            <h2>Первый пост</h2>
            <p>Это текст первого поста. Он находится на белой подложке, которая в свою очередь расположена на светло-сером фоне страницы. </p>
        </div>

        <div class="post">
            <h2>Первый пост</h2>
            <p>Это текст первого поста. Он находится на белой подложке, которая в свою очередь расположена на светло-сером фоне страницы. </p>
        </div>

        <div class="post">
            <h2>Первый пост</h2>
            <p>Это текст первого поста. Он находится на белой подложке, которая в свою очередь расположена на светло-сером фоне страницы. </p>
        </div>

    </div>


</body>
</html>