* {
    box-sizing: border-box;
}
header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 60px;
    color: #241a4e;
    font-size: 30px;
    /*margin-bottom: 10px;*/
}

#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border: 1px solid #e7e7e7;
    width: 100%;
}
.container-navbar{
    display: inline-block;
    width: 100%;
    height: 10%;

}

nav{
    color: cadetblue;
}
li{
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 25px;

}
a:hover {
    background-color: beige;
}
img {
    opacity: 100%;
}
li a.active {
    background-color: #04AA6D;
    color: white;
}
.logout{
    float: right;
}
.present{
    margin-top: 50px;
}
.logo-container{
    background-image: url("./src/pravda-100-let-1200_778.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    opacity: 60%;
    background-position: center;
    display: inline-block;
    /*margin-left: 10%;*/
    background-color: cadetblue;
    justify-content: center;
    text-align: center;
    height: 100%;
    color: #241a4e;
    z-index: 0;
}
div.logo-picture{
    z-index: 1;
}

/* Change color on hover */


/*div.flex-container {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Sidebar/left column */
.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
div.logo-picture{
    padding: 10px;
    opacity: 100;
    display: inline-block;
    border-style: dot-dash;
    border-color: #04AA6D;
    /*border-radius: 50%;*/
}