* {
    box-sizing: border-box;
}

.present{
    margin-top: 50px;
}
.logo-container{
    background-image: url("../static/src/pravda-100-let-1200_778.webp");
    background-repeat: no-repeat;
    background-size: cover;

    background-blend-mode: color-burn;
    width:100%;

    background-position: center;
    display: inline-block;
    /*margin-left: 10%;*/
    background-color: cadetblue;
    justify-content: center;
    text-align: center;
    height: 100%;
    color: #a32145;
    font-size: 50px;
}
div.logo-picture {
    margin: 40px;
    padding: 100px;
    border-spacing: 40px;
    backdrop-filter: blur(5px);
    border-radius: 1000px;
    border-style: dashed;
    border-color: black;
}
/* Change color on hover */


/*div.flex-container {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Sidebar/left column */
.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Main column */
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
div.logo-picture {
    padding: 50px;
    opacity: 100;
    display: inline-block;
    /*border-style: dot-dash;*/
    border-color: #04AA6D;
    /*border-radius: 50%;*/
}